@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 400;
  color: #000;
  font-family: "Roboto", sans-serif;
}

p {
  margin-top: 0;
  font-weight: 400;
  color: #000;
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #fdfdfd;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

a {
  color: inherit !important;
}

.container {
  width: 95%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 700px) {
  .container {
    width: 95%;
  }
}

header {
  background-color: #000;
  transition: all 0.6s ease-in-out;
  -webkit-animation: navbar 0.6s;
          animation: navbar 0.6s;
}

header.sticky {
  transition: 0.6s;
  background-color: #000;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 99;
  -webkit-animation: nav 0.6s forwards;
          animation: nav 0.6s forwards;
}

@-webkit-keyframes nav {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes nav {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes close-nav {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes close-nav {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
}
.head__logo img {
  display: block;
  max-width: 205px;
  max-height: 30px;
}
.head__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 56px;
       column-gap: 56px;
}
.head__list_item {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.9px;
  color: #000;
  transition: 0.2s;
  color: #fff;
}
.head__list_item:hover {
  color: #60777C;
}
.head__list .head__register {
  display: none;
}
.head__register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.head__register_log-in {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  align-items: center;
  padding: 21px 31px;
  transition: 0.2s;
}
.head__register_log-in:hover {
  color: #60777C;
}
.head__register_start-btn {
  letter-spacing: 0.9px;
  padding: 21px 31px;
  cursor: pointer;
  color: #000;
  border: none;
  background-color: #fff;
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
}
.head__register_start-btn:hover {
  background-color: #60777C;
  color: #fff;
}
@media (max-width: 500px) {
  .head__register_start-btn {
    padding: 15px 25px;
  }
}
.head #check-bar {
  display: none;
}
.head .close-bar {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 87vh;
  top: 13vh;
  left: 0;
  right: 0;
  bottom: 0;
}
.head .bar {
  display: none;
}
.head .bar i {
  font-size: 1.7rem;
  color: #fff;
}
.head .x-bar {
  display: none;
}
@media (max-width: 1024px) {
  .head__list {
    z-index: 98;
    transform: translateX(-120%);
    transition: all 0.2s;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    top: 13vh;
    left: 0;
    width: 75vw;
    height: 87vh;
    background-color: #000;
    padding-bottom: 40px;
  }
  .head__list .head__register {
    display: block;
    position: absolute;
    bottom: 20px;
  }
  .head .bar {
    display: block;
    transition: 0.3s;
  }
  .head .close-bar {
    display: block;
    z-index: 97;
    transform: translateX(-100%);
  }
  .head .x-bar {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .head__register {
    display: none;
  }
  .head #check-bar:checked ~ .head__list {
    transform: translateX(0);
  }
  .head #check-bar:checked ~ .close-bar {
    transform: translateX(0);
  }
  .head #check-bar:checked ~ .bar {
    transform: rotate(90deg);
  }
}
@media (max-width: 380px) {
  .head__list {
    justify-content: space-evenly;
  }
  .head__list .head__register {
    display: flex;
    flex-direction: column;
  }
}

.uk-alert-close {
  position: absolute;
  min-width: 5px;
  min-height: 5px;
  top: 50px;
  left: 15px;
  color: inherit;
  margin-left: 95%;
  opacity: 0.4;
}

.uk-alert {
  position: relative;
  margin-bottom: 20px;
  padding: 50px 10px !important;
}

.alert-box {
  padding-top: 50px;
}
.alert-box .alert-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
}
.alert-box__title {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 22px;
  color: #000 !important;
}
.alert-box__subtitle {
  text-align: center;
  font-size: 1.2rem;
  margin-right: 0 !important;
  margin: 0 20% !important;
  margin-bottom: 77px !important;
  color: #000 !important;
}
.alert-box__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}
.alert-box__list::-webkit-scrollbar {
  display: none;
}
.alert-box__list_img {
  width: 100%;
  height: auto;
}
.alert-box__list_item {
  max-width: 447px;
  min-width: 247px;
  max-height: 400px;
  padding: 5px;
  width: 30%;
}
.alert-box__list_item h3 {
  padding-top: 30px;
  font-size: 1.5rem;
  margin-bottom: 6px;
  color: #000 !important;
}
.alert-box__list_item p {
  font-size: 1rem;
  color: #000 !important;
  width: 100%;
}
@media (max-width: 500px) {
  .alert-box .uk-alert-close {
    margin-left: 85%;
  }
  .alert-box__title {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.9px;
  }
  .alert-box__subtitle {
    text-align: center;
    font-size: 0.8rem;
    margin: 0 5% !important;
    margin-bottom: 27px !important;
    letter-spacing: 0.9px;
  }
  .alert-box__list .alert-box__list_item {
    max-width: 447px;
    min-width: 247px;
    max-height: 400px;
    padding: 5px;
    width: 30%;
  }
  .alert-box__list .alert-box__list_item h3 {
    padding-top: 30px;
    font-size: 0.9rem;
  }
  .alert-box__list .alert-box__list_item p {
    font-size: 0.7rem;
  }
}

.advertising {
  padding: 120px 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/advertising-img.jpg) no-repeat center bottom;
}
.advertising__title {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.9px;
  color: #fff;
  margin-bottom: 25px;
  width: 350px;
  margin: 0 auto;
}
.advertising__subtitle {
  width: 350px;
  margin: 25px auto;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.9px;
  color: #fff;
}
.advertising__btn {
  width: 180px;
  text-align: center;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.8px;
  font-size: 1.1rem;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: underline;
  transition: 0.3s;
}
.advertising__btn:hover {
  color: #60777C !important;
  text-decoration: underline;
}
@media (max-width: 400px) {
  .advertising {
    padding: 70px 0;
  }
  .advertising__title {
    font-size: 1.8rem;
    width: 220px;
  }
  .advertising__subtitle {
    font-size: 0.9rem;
    width: 220px;
  }
  .advertising__btn {
    font-size: 1rem;
  }
}

.protect > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.protect__img {
  width: 50%;
  height: 558px;
  background: url(/images/protect-img.jpg) no-repeat;
  background-position: center 80%;
}
.protect__texts {
  width: 33%;
}
.protect__texts_title {
  font-size: 3rem;
  margin-bottom: 22px;
  letter-spacing: 0.8px;
}
.protect__texts_dsc {
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}
@media (max-width: 1024px) {
  .protect {
    position: relative;
    height: 558px;
  }
  .protect__img {
    width: 100vw;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #fff url(/images/protect-img.jpg) no-repeat center center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-position: cover;
    position: absolute;
  }
  .protect__texts {
    position: relative;
    top: 50px;
    width: 60%;
    margin: 0 20%;
  }
  .protect__texts_title {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
  }
  .protect__texts_dsc {
    font-size: 1rem;
    color: #fff;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .protect__texts {
    top: 50px;
    width: 95%;
    margin: 0 2.5%;
  }
  .protect__texts_title {
    font-size: 2rem;
  }
  .protect__texts_dsc {
    font-size: 0.9rem;
  }
}

.yoga {
  position: relative;
  padding: 80px 0;
  background-color: #60777C;
}
.yoga > div {
  display: flex;
  justify-content: space-between;
}
.yoga__img {
  width: 45%;
}
.yoga__texts {
  width: 45%;
}
.yoga__dsc {
  font-size: 1.7rem;
  color: #fff;
  letter-spacing: 0.7px;
  margin-bottom: 190px;
}
.yoga__name {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #fff;
}
.yoga__link {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2705882353);
  transition: 0.3s;
}
.yoga__link:hover {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .yoga > div {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  .yoga__dsc {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  .yoga__texts {
    width: 80%;
  }
  .yoga__img {
    width: 80%;
  }
  .yoga__name {
    font-size: 1rem;
  }
  .yoga__link {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .yoga {
    padding: 50px 0;
  }
  .yoga__dsc {
    font-size: 1.2rem;
  }
  .yoga__texts {
    width: 95%;
    text-align: center;
  }
  .yoga__img {
    width: 95%;
  }
  .yoga__name {
    font-size: 0.8rem;
  }
  .yoga__link {
    font-size: 0.8rem;
  }
}

.start {
  padding: 80px 0;
}
.start__title {
  font-size: 3rem;
  margin: 0 auto;
  width: 600px;
  letter-spacing: 0.7px;
  margin-bottom: 22px;
}
.start__subtitle {
  width: 600px;
  margin: 0 auto;
  font-size: 1.3rem;
  letter-spacing: 0.7px;
  margin-bottom: 20px;
}
.start__btn {
  display: block;
  margin: 0 auto;
  width: 190px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.3s;
  color: #000 !important;
  text-decoration: underline;
}
.start__btn:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.start__list {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start__list_item {
  width: 50%;
}
.start__list_item .start__img {
  margin-bottom: 13px;
}
.start__list_item a {
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.3s;
  color: #000 !important;
}
.start__list_item a:hover {
  text-decoration: underline;
}
.start__list_item span {
  font-size: 1rem;
  margin-left: 91px;
  margin-top: 13px;
  color: #868686;
}
.start__list_item span strong {
  color: #000;
}
@media (max-width: 1024px) {
  .start__title {
    font-size: 2.5rem;
    text-align: center;
    width: 470px;
  }
  .start__subtitle {
    text-align: center;
    font-size: 1rem;
    width: 470px;
  }
  .start__list {
    margin-top: 65px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
  }
  .start__list_item {
    width: 65%;
  }
}
@media (max-width: 500px) {
  .start {
    padding: 50px 0;
  }
  .start__title {
    font-size: 1.8rem;
    width: 260px;
  }
  .start__subtitle {
    font-size: 0.8rem;
    width: 260px;
  }
  .start__btn {
    width: 145px;
    font-size: 0.8rem;
  }
  .start__list {
    margin-top: 35px;
    row-gap: 25px;
  }
  .start__list_item {
    width: 85%;
  }
  .start__list_item a {
    font-size: 0.8rem;
  }
  .start__list_item span {
    font-size: 0.8rem;
  }
}

.members {
  padding: 80px 0 77px;
  background-color: #000;
}
.members > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
.members__texts h2 {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.6px;
  margin-bottom: 29px;
}
.members__texts a {
  text-transform: uppercase;
  color: #fff !important;
  font-size: 1rem;
  text-decoration: underline;
  transition: 0.3s;
}
.members__texts a:hover {
  color: #60777C !important;
}
.members__list {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  list-style: decimal-leading-zero;
}
.members__list li {
  font-size: 1.3rem;
  color: #fff;
  padding-left: 15px;
}
.members__list_item p {
  font-size: 1.3rem;
  letter-spacing: 0.6px;
  color: #fff;
}
@media (max-width: 1024px) {
  .members > div {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .members__texts {
    width: 80%;
    margin: 0 auto;
  }
  .members__texts h2 {
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 29px;
  }
  .members__texts a {
    display: block;
    width: 110px;
    margin: 0 auto;
    font-size: 0.9rem;
  }
  .members__list li {
    font-size: 1rem;
  }
  .members__list_item {
    width: 80%;
    margin: 0 auto;
  }
  .members__list_item p {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .members {
    padding: 50px 0;
  }
  .members > div {
    row-gap: 25px;
  }
  .members__texts {
    width: 95%;
    margin: 0 2.5%;
  }
  .members__texts h2 {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }
  .members__texts a {
    width: 90px;
    font-size: 0.7rem;
  }
  .members__list {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .members__list li {
    font-size: 0.8rem;
    color: #fff;
    padding-left: 5px;
  }
  .members__list_item {
    margin: 0 2.5%;
    width: 90%;
  }
  .members__list_item p {
    font-size: 0.8rem;
  }
}

.question {
  padding: 80px 0;
  background-color: #000;
}
.question__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 44px;
  color: #fff;
}
@media (max-width: 550px) {
  .question__title {
    font-size: 1rem;
  }
}
.question__box {
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .question__box {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .question__box {
    width: 95%;
    margin: 0 2.5%;
  }
}
@media (max-width: 500px) {
  .question {
    padding: 50px 0;
  }
}

.q-list {
  display: flex;
  flex-direction: column;
}

.uk-accordion-title {
  color: #fff !important;
}

@media (max-width: 1024px) {
  .uk-accordion-title {
    font-size: 1rem !important;
  }
}
@media (max-width: 600px) {
  .uk-accordion-title {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 500px) {
  .uk-accordion-title {
    font-size: 0.7rem !important;
  }
}
.uk-accordion-title::after {
  content: "";
  width: 1.4em;
  height: 1.4em;
  margin-right: 10px;
  float: right;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #fff !important;
}

.uk-accordion-title::before {
  display: none;
}

.award {
  padding: 80px 0;
  background-color: #000;
}
.award > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.award__img {
  width: 45%;
}
.award__texts {
  width: 45%;
}
.award__texts a {
  display: block;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 19px;
  text-decoration: underline;
}
.award__title {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.6px;
  margin-bottom: 22px;
}
.award__subtitle {
  margin-bottom: 19px;
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.6px;
}
@media (max-width: 1024px) {
  .award > div {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 20px;
  }
  .award__texts {
    width: 80%;
  }
  .award__texts a {
    font-size: 0.9rem;
    text-align: center;
  }
  .award__img {
    width: 60%;
    width: 0 auto;
  }
  .award__title {
    font-size: 2.5rem;
    text-align: center;
  }
  .award__subtitle {
    font-size: 1rem;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .award {
    padding: 45px 0;
  }
  .award__texts {
    width: 95%;
  }
  .award__texts a {
    font-size: 0.7rem;
  }
  .award__img {
    width: 80%;
    width: 0 auto;
  }
  .award__title {
    font-size: 1.5rem;
    text-align: center;
  }
  .award__subtitle {
    font-size: 0.8rem;
    text-align: center;
  }
}

.platform {
  background-color: #000;
}
.platform > div {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .platform > div {
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.platform__title {
  font-size: 2.2rem;
  width: 722px;
  color: #fff;
  letter-spacing: 0.6px;
}
@media (max-width: 1024px) {
  .platform__title {
    font-size: 1.9rem;
    width: 450px;
  }
}
@media (max-width: 500px) {
  .platform__title {
    text-align: center;
    font-size: 1rem;
    width: 250px;
  }
}
.platform__btn {
  padding: 21px 31px;
  cursor: pointer;
  color: #000;
  border: none;
  background-color: #fff;
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
}
.platform__btn:hover {
  background-color: #60777C;
  color: #fff;
}
@media (max-width: 500px) {
  .platform__btn {
    padding: 15px 25px;
  }
}
.platform .p-line {
  width: 100%;
  height: 1px;
  background: rgba(202, 202, 202, 0.5019607843);
  padding: 0 !important;
}

footer {
  padding: 115px 0 99px;
  background-color: #000;
}
@media (max-width: 1024px) {
  footer {
    padding: 45px 0;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 24px;
  }
}
.footer__logo {
  width: 20%;
}
.footer__logo_img {
  display: block;
  margin-bottom: 35px;
}
.footer__logo_form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer__logo_form label {
  min-width: 150px;
  max-width: 150px;
  color: #fff !important;
  padding: 16px 15px;
  position: relative;
  background-color: #1A1A1A;
}
.footer__logo_form label span {
  position: absolute;
  right: 10px;
  color: #fff;
}
.footer__logo_form #sum {
  display: none;
}
.footer__logo_form #lan {
  display: none;
}
@media (max-width: 1024px) {
  .footer__logo {
    width: 150px;
    margin: 0 auto;
  }
}
.footer__list {
  width: 11%;
}
.footer__list_item {
  color: #fff;
  margin-bottom: 10px;
}
.footer__list_item:nth-child(1) {
  margin-bottom: 30px;
}
.footer__list_item:nth-child(1) p {
  color: #fff;
}
@media (max-width: 1024px) {
  .footer__list {
    border-top: 1px solid rgba(202, 202, 202, 0.5019607843);
    padding-top: 10px;
    width: 100%;
  }
}

.hero {
  background: url(/images/hero-img.jpg) no-repeat center center;
  padding: 90px 0 173px;
}
.hero__texts {
  text-align: left;
  width: 40%;
}
.hero__texts_top {
  font-size: 1.1rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
}
.hero__texts_top a:first-child {
  margin-right: 49px;
}
.hero__title {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 22px;
  letter-spacing: 0.9px;
}
.hero__subtitle {
  font-size: 1.3rem;
  color: #fff;
  letter-spacing: 0.8px;
}
.hero__btn {
  padding: 21px 31px;
  cursor: pointer;
  color: #000;
  border: none;
  background-color: #fff;
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  margin-top: 46px;
  letter-spacing: 0.8px;
}
.hero__btn:hover {
  background-color: #60777C;
  color: #fff;
}
@media (max-width: 500px) {
  .hero__btn {
    padding: 15px 25px;
  }
}
@media (max-width: 1024px) {
  .hero {
    padding: 60px 0 153px;
  }
  .hero__texts {
    width: 60%;
  }
  .hero__texts_top {
    font-size: 0.8rem;
  }
  .hero__title {
    font-size: 3.5rem;
  }
  .hero__subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .hero {
    height: 87vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(/images/hero-img.jpg) no-repeat center center;
    padding: 50px 0 173px;
  }
  .hero__texts {
    text-align: center;
    width: 100%;
  }
  .hero__texts_top {
    font-size: 0.9rem;
  }
  .hero__title {
    font-size: 2rem;
    margin-top: 80px;
  }
  .hero__subtitle {
    margin-top: 40px;
    font-size: 0.8rem;
  }
  .hero__btn {
    margin-top: 120px;
  }
}

.exclusive {
  background-color: #60777C;
  padding: 80px 0 120px;
}
.exclusive__title {
  text-align: center;
  margin: 0 auto;
  width: 600px;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 22px;
}
.exclusive__subtitle {
  text-align: center;
  margin: 0 auto;
  width: 642px;
  font-size: 1.2rem;
  color: #fff;
}
.exclusive__list {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.exclusive__list_texts {
  width: 33%;
}
.exclusive__list_texts h3 {
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 22px;
}
.exclusive__list_texts p {
  font-size: 1.2rem;
  color: #fff;
}
.exclusive__list_img {
  width: 45%;
}
@media (max-width: 1024px) {
  .exclusive__title {
    font-size: 2.5rem;
    width: 450px;
  }
  .exclusive__subtitle {
    font-size: 1rem;
    width: 470px;
  }
  .exclusive__list {
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
  }
  .exclusive__list--second {
    flex-direction: column-reverse;
  }
  .exclusive__list:last-child {
    flex-direction: column-reverse;
  }
  .exclusive__list_texts {
    width: 65%;
  }
  .exclusive__list_texts h3 {
    font-size: 1.9rem;
    letter-spacing: 0.9px;
  }
  .exclusive__list_texts p {
    font-size: 1rem;
    letter-spacing: 0.7px;
  }
  .exclusive__list_img {
    width: 65%;
  }
}
@media (max-width: 500px) {
  .exclusive {
    padding: 50px 0 70px;
  }
  .exclusive__title {
    font-size: 1.7rem;
    margin: 0 2.5%;
    width: 95%;
    letter-spacing: 1px;
  }
  .exclusive__subtitle {
    padding-top: 25px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 0 2.5%;
    width: 95%;
  }
  .exclusive__list {
    justify-content: center;
    padding-top: 50px;
    row-gap: 20px;
  }
  .exclusive__list_texts {
    width: 85%;
  }
  .exclusive__list_texts h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  .exclusive__list_texts p {
    font-size: 0.8rem;
    text-align: justify;
  }
  .exclusive__list_img {
    width: 85%;
  }
}

.plans {
  padding: 80px 0 88px;
}
.plans__title {
  font-size: 2.2rem;
  color: #000;
  margin-bottom: 22px;
  letter-spacing: 0.6px;
}
.plans__dsc {
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 0.6px;
  width: 300px;
  text-align: left;
  margin-bottom: 55px;
}
@media (max-width: 500px) {
  .plans {
    padding: 50px 0 58px;
  }
  .plans__title {
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: center;
  }
  .plans__dsc {
    text-align: center;
    font-size: 0.7rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.plans .plan-table {
  width: 100%;
}
.plans .table-form {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.plans .table-form label {
  font-size: 1rem;
  color: #000 !important;
}
.plans .table-form label:nth-child(2) {
  color: #A1A1A1 !important;
}
.plans .table-form label span {
  color: #0888C8;
  font-size: 0.7rem;
}
@media (max-width: 1024px) {
  .plans .table-form label {
    font-size: 0.9rem;
  }
  .plans .table-form label span {
    font-size: 0.6rem;
  }
}
@media (max-width: 500px) {
  .plans .table-form label {
    font-size: 0.8rem;
  }
  .plans .table-form label span {
    font-size: 0.5rem;
  }
}
.plans th > p {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}
.plans th > p span:nth-child(1) {
  color: #000 !important;
  font-size: 1.3rem;
  margin-bottom: 15px;
}
.plans th > p span:nth-child(2) {
  color: #000 !important;
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.plans th > p span:nth-child(2) sup {
  font-size: 0.7rem;
}
.plans th > p span:nth-child(3) {
  color: #000 !important;
  font-size: 0.7rem;
  margin-bottom: 5px;
}
.plans th > p span:nth-child(4) {
  color: #0888C8 !important;
  font-size: 0.7rem;
  margin-bottom: 5px;
  width: 50px;
  display: inline-block;
}

.plan-tr-top {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 500px) {
  .plan-tr-top {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .plan-tr-top th {
    width: 60%;
  }
  .plan-tr-top th:first-child {
    width: 80%;
  }
}
.plan-tr-top th {
  width: 8%;
  text-align: center;
}
.plan-tr-top th:first-child {
  text-align: start;
  width: 65%;
}
@media (max-width: 1024px) {
  .plan-tr-top th {
    width: 5%;
  }
  .plan-tr-top th:first-child {
    width: 45%;
  }
}

.plan-tabal2 {
  padding-top: 150px;
  width: 100%;
}
.plan-tabal2 .plan-tr-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
}
.plan-tabal2 .plan-tr-bottom th {
  border-bottom: 1px solid #EBEBEB;
  width: 8%;
  padding: 10px 0;
  text-align: center;
  color: #000;
}
.plan-tabal2 .plan-tr-bottom th:first-child {
  font-size: 1.1rem;
  color: #000;
  text-align: start;
  align-items: center;
  width: 65%;
}
@media (max-width: 1024px) {
  .plan-tabal2 .plan-tr-bottom th {
    width: 5%;
  }
  .plan-tabal2 .plan-tr-bottom th:first-child {
    width: 45%;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .plan-tabal2 .plan-tr-bottom th {
    width: 5%;
    font-size: 0.8rem;
  }
  .plan-tabal2 .plan-tr-bottom th:first-child {
    width: 45%;
    font-size: 0.8rem;
  }
}
@media (max-width: 300px) {
  .plan-tabal2 .plan-tr-bottom th {
    width: 5%;
    font-size: 0.6rem;
  }
  .plan-tabal2 .plan-tr-bottom th:first-child {
    width: 25%;
    font-size: 0.6rem;
  }
}
.plan-tabal2 .tb-up::before {
  content: "Features";
  display: block;
  font-size: 0.7rem;
  color: #A1A1A1;
  text-transform: uppercase;
  margin-bottom: 13px;
}
@media (max-width: 500px) {
  .plan-tabal2 .tb-up::before {
    font-size: 0.3rem;
  }
}

.plans__sub-headline {
  margin-top: 39px;
  font-size: 1.6rem;
  color: #000;
}
.plans__list {
  display: flex;
  margin-left: 40%;
  -moz-column-gap: 88px;
       column-gap: 88px;
  justify-content: space-between;
}
.plans__list_box {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.plans__list_item {
  padding-left: 10px;
  position: relative;
}
.plans__list_item p {
  font-size: 1rem;
}
.plans__list_item::before {
  position: absolute;
  content: "✓";
  display: block;
  left: -15px;
  font-size: 1rem;
}
@media (max-width: 1024px) {
  .plans__sub-headline {
    font-size: 1rem;
    text-align: center;
  }
  .plans__list {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .plans__list_item {
    width: 80%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */