@use "../globals/colors" as *;
@use "../globals/mixin" as *;
header {
  background-color:$bg-color;
  transition: all .6s ease-in-out;
  animation: navbar 0.6s;
}
header.sticky {
  transition: .6s;
  background-color: $bg-color;
  position:sticky;
  top: 0px;
  z-index: 99;
  animation: nav 0.6s forwards;
}
@keyframes nav {
  0% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0)
  }
}
@keyframes close-nav {
  0% {
    transform: translateY(0%)
  }
  100% {
    transform: translateY(-100%)
  }
}
.head {
  @include adjust;
  height: 13vh;
  &__logo {
    img {
      display: block;
      max-width: 205px;
      max-height: 30px;
    }
  }
  &__list {
    @include adjust;
    column-gap:56px;
    &_item {
      text-align: center;
      text-transform: uppercase;
      font-size: .9rem;
      letter-spacing: .9px;
      color:$text-color;
      transition: .2s;
      color: #fff;
      &:hover {
        color: $primary-color;
      }
    }
    .head__register {
      display: none;
    }
  }
  &__register {
    @include adjust;
    column-gap: 5px;
    &_log-in {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #fff;
      font-size: .9rem;
      letter-spacing: .9px;
      text-transform:uppercase;
      align-items: center;
      padding: 21px 31px;
      transition: .2s;
      &:hover {
        color:$primary-color;
      }
    }
    &_start-btn {
      letter-spacing: .9px;
      @include btn;
    }
  }
  #check-bar {
    display: none
  }
  .close-bar {
    display: none;
    position:absolute;
    background-color:rgba(0,0,0, .6);
    height:87vh;
    top: 13vh;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .bar {
    display: none;
    i {
      font-size: 1.7rem;
       color:#fff;
    }
  }
  .x-bar {
    display: none;
  }
  @media (max-width:1024px) {
    &__list {
      z-index: 98;
      transform: translateX(-120%);
      transition:all .2s;
      position: fixed;
      flex-direction: column;
      justify-content:space-around;
      top:13vh;
      left: 0;
      width: 75vw;
      height: 87vh;
      background-color: #000;
      padding-bottom: 40px;
      .head__register {
        display: block;
        position:absolute;
        bottom: 20px;
      }
    }
    .bar {
      display: block;
      transition: .3s;
    }
    .close-bar {
      display: block;
      z-index: 97;
      transform: translateX(-100%);
    }
    .x-bar {
      display: block;
      position:absolute;
      top: 15px;
      right: 15px;
    }
    &__register {
      display: none;
    }

    #check-bar:checked ~ .head__list {
      transform: translateX(0);
    }
    #check-bar:checked ~ .close-bar {
      transform: translateX(0);
    }
    #check-bar:checked ~ .bar {
      transform: rotate(90deg);
    }
  }
  @media (max-width:380px) {
    &__list {
      justify-content:space-evenly;
     .head__register {
      display: flex;
       flex-direction: column;
     }
    }
 }
}