@use "../globals/colors" as *;
@use "../globals/mixin" as *;
header {
  background-color: $bg-color;
  position:sticky;
  top: 0;
  z-index: 99;
}
.head {
  @include adjust;
  height: 13vh;
  &__logo {
    img {
      display: block;
      max-width: 205px;
      max-height: 30px;
    }
  }
  &__list {
    @include adjust;
    column-gap:56px;
    &_item {
      text-align: center;
      text-transform: uppercase;
      font-size: .9rem;
      color:$text-color;
      transition: .2s;
      color: #fff;
      &:hover {
        color: $primary-color;
      }
    }
    .head__register {
      display: none;
    }
  }
  &__register {
    @include adjust;
    column-gap: 5px;
    &_log-in {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #fff;
      font-size: .9rem;
      text-transform:uppercase;
      align-items: center;
      padding: 21px 31px;
      transition: .2s;
      &:hover {
        color:$primary-color;
      }
    }
    &_start-btn {
      @include btn;
    }
  }
  #check-bar {
    display: none
  }
  .bar {
    display: none;
    i {
      font-size: 1.7rem;
       color:#fff;
    }
  }
  @media (max-width:1024px) {
    &__list {
      transform: translateY(-120%);
      transition: .2s;
      position: fixed;
      flex-direction: column;
      justify-content:space-around;
      top:13vh;
      right: 0;
      width: 100vw;
      height: 87vh;
      background-color: #000;
      padding-bottom: 40px;
      .head__register {
        display: block;
        position:absolute;
        bottom: 20px;
      }
    }
    .bar {
      display: block;
    }
    &__register {
      display: none;
    }

    #check-bar:checked ~ .head__list {
      transform: translateY(0);
    }
  }

}