@use "../globals/mixin" as *;
@use "../globals/colors" as *;
.members {
  padding: 80px 0 77px;
  background-color: #000;
  &>div {
    @include adjust;
    align-items: flex-start;
  }
  &__texts {
    h2 {
      font-size: 3rem;
      color: #fff;
      letter-spacing: .6px;
      margin-bottom: 29px;
    }
    a {
      text-transform: uppercase;
      color:#fff!Important;
      font-size: 1rem;
      text-decoration: underline;
      transition: .3s;
      &:hover {
        color:$primary-color!important;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    list-style:decimal-leading-zero;
    li {
      font-size: 1.3rem;
      color:#fff;
      padding-left: 15px;
    }
    &_item {
      p {
        font-size: 1.3rem;
        letter-spacing: .6px;
        color:#fff;
      }
    }
  }
  @media (max-width:1024px) {
    &>div {
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
    &__texts {
      width: 80%;
      margin: 0 auto;
      h2 {
        font-size: 2.1rem;
        text-align: center;
        margin-bottom: 29px;
      }
      a {
        display: block;
        width: 110px;
        margin: 0 auto;
        font-size: .9rem;
      }
    }
    &__list {
      li {
        font-size: 1rem;
      }
      &_item {
        width: 80%;
        margin: 0 auto;
        p {
          font-size: 1rem;
        }
      }
    }
  }
  @media (max-width:500px) {
    padding: 50px 0;
    &>div {
      row-gap: 25px;
    }
    &__texts {
      width: 95%;
      margin: 0 2.5%;
      h2 {
        font-size: 1.7rem;
        margin-bottom: 20px;
      }
      a {
        width: 90px;
        font-size: .7rem;
      }
    }
    &__list {
      justify-content: flex-end;
      align-items: flex-end;
      li {
        font-size:.8rem;
        color:#fff;
        padding-left: 5px;
      }
      &_item {
        margin: 0 2.5%;
        width: 90%;
        p {
          font-size: .8rem;
        }
      }
    }
  }
}